<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_black.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{284,970},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>adv_choice_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{666,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{666,136}}</string>
				<key>sourceSize</key>
				<string>{666,136}</string>
			</dict>

			<key>adv_choice_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,73},{666,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{666,136}}</string>
				<key>sourceSize</key>
				<string>{666,136}</string>
			</dict>

			<key>adv_fade.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,906},{127,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{127,100}}</string>
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>

			<key>adv_log_ce.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,677},{534,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,0},{534,189}}</string>
				<key>sourceSize</key>
				<string>{572,189}</string>
			</dict>

			<key>adv_log_etc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,867},{534,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,38},{534,151}}</string>
				<key>sourceSize</key>
				<string>{534,189}</string>
			</dict>

			<key>adv_log_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,525},{572,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,37},{572,151}}</string>
				<key>sourceSize</key>
				<string>{572,189}</string>
			</dict>

			<key>adv_log_na.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{794,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{794,72}}</string>
				<key>sourceSize</key>
				<string>{794,72}</string>
			</dict>

			<key>adv_white.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{293,906},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>bg_adv_think.png</key>
			<dict>
				<key>frame</key>
				<string>{{1198,251},{256,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,192}}</string>
				<key>sourceSize</key>
				<string>{256,192}</string>
			</dict>

			<key>story_ui_auto_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,906},{54,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,63}}</string>
				<key>sourceSize</key>
				<string>{54,63}</string>
			</dict>

			<key>story_ui_auto_b_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,943},{54,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,63}}</string>
				<key>sourceSize</key>
				<string>{54,63}</string>
			</dict>

			<key>story_ui_close_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,970},{45,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,46}}</string>
				<key>sourceSize</key>
				<string>{45,46}</string>
			</dict>

			<key>story_ui_fukidashi_01_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,73},{573,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{573,177}}</string>
				<key>sourceSize</key>
				<string>{574,178}</string>
			</dict>

			<key>story_ui_fukidashi_01_l02.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,728},{573,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{573,177}}</string>
				<key>sourceSize</key>
				<string>{574,178}</string>
			</dict>

			<key>story_ui_fukidashi_01_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,347},{573,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{573,177}}</string>
				<key>sourceSize</key>
				<string>{574,178}</string>
			</dict>

			<key>story_ui_fukidashi_01_r02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,728},{573,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{573,177}}</string>
				<key>sourceSize</key>
				<string>{574,178}</string>
			</dict>

			<key>story_ui_fukidashi_02_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,347},{623,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{623,203}}</string>
				<key>sourceSize</key>
				<string>{627,204}</string>
			</dict>

			<key>story_ui_fukidashi_03_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,551},{573,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{573,176}}</string>
				<key>sourceSize</key>
				<string>{574,178}</string>
			</dict>

			<key>story_ui_fukidashi_03_r02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,551},{573,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{573,176}}</string>
				<key>sourceSize</key>
				<string>{574,178}</string>
			</dict>

			<key>story_ui_log_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,943},{54,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,63}}</string>
				<key>sourceSize</key>
				<string>{54,63}</string>
			</dict>

			<key>story_ui_skip.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,906},{82,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,36}}</string>
				<key>sourceSize</key>
				<string>{82,36}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>story_ui_sprites00.png</string>
			</dict>
		</dict>
</plist>